/* Block and Elements */
.info-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none; 
  outline: none;
  margin-top: 10px;
  height: 83px;
  width: 105px;
}

.info-button__outline {
  stroke: var(--white-color);
  stroke-opacity: 0.63;
  stroke-width: 7;
}

.info-button__icon {
  fill: var(--white-color);
  fill-opacity: 0.63;
}

.info-button:hover .info-button__outline{
  stroke: var(--purple__light-color);
  stroke-opacity: 1;
}

.info-button:hover .info-button__icon {
  fill: var(--purple__light-color);
  fill-opacity: 1;
}


@media screen and (max-width: 660px) {
  .info-button {
    z-index: -44;
  }
}