/* Block and Elements */
.info-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none; 
  outline: none;
  margin-top: 10px;
  height: 83px;
  width: 105px;
}

.info-button__outline {
  fill: var(--purple__light-color);
  fill-opacity: 0.63;
}

.info-button__icon {
  fill: var(--white-color);
  fill-opacity: 0.63;
}

.info-button__outline:hover {
  fill: var(--white-color);
}

.info-button__icon:hover {
  fill: var(--blue-color);
}